logic-apps/module5/businessLogic.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "outlook_1_Connection_Name": {
      "type": "string",
      "defaultValue": "outlook"
    },
    "outlook_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "shishir28@live.com"
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "defaultValue": "australiaeast"
    },
    "LogicAppName": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "BusinessLogic"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Parse_JSON')?['SequenceNumber']",
                      3
                    ]
                  }
                ]
              },
              "actions": {
                "Send_an_email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['outlook']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "shishir28@gmail.com",
                      "Subject": "Thanks  ",
                      "Body": "You are winner"
                    },
                    "path": "/Mail"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_2": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['outlook']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "To": "shishir28@gmail.com",
                        "Subject": "Better Luck Next Time",
                        "Body": "Oops"
                      },
                      "path": "/Mail"
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "$id": "http://example.com/example.json",
                  "$schema": "http://json-schema.org/draft-06/schema#",
                  "definitions": {},
                  "properties": {
                    "Message": {
                      "$id": "/properties/Message",
                      "default": "",
                      "description": "An explanation about the purpose of this instance.",
                      "examples": [
                        "kjlkjsadflkjsdlfkjslkfjs"
                      ],
                      "title": "The Message Schema",
                      "type": "string"
                    },
                    "SequenceNumber": {
                      "$id": "/properties/SequenceNumber",
                      "default": 0,
                      "description": "An explanation about the purpose of this instance.",
                      "examples": [
                        2
                      ],
                      "title": "The Sequencenumber Schema",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {}
            },
            "Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200
              },
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "$id": "http://example.com/example.json",
                  "$schema": "http://json-schema.org/draft-06/schema#",
                  "definitions": {},
                  "properties": {
                    "Message": {
                      "$id": "/properties/Message",
                      "default": "",
                      "description": "An explanation about the purpose of this instance.",
                      "examples": [
                        "kjlkjsadflkjsdlfkjslkfjs"
                      ],
                      "title": "The Message Schema",
                      "type": "string"
                    },
                    "SequenceNumber": {
                      "$id": "/properties/SequenceNumber",
                      "default": 0,
                      "description": "An explanation about the purpose of this instance.",
                      "examples": [
                        2
                      ],
                      "title": "The Sequencenumber Schema",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "outlook": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'australiaeast', '/managedApis/', 'outlook')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('outlook_1_Connection_Name'))]",
                "connectionName": "[parameters('outlook_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "name": "[parameters('LogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('outlook_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('outlook_1_Connection_Name')]",
      "location": "australiaeast",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'australiaeast', '/managedApis/', 'outlook')]"
        },
        "displayName": "[parameters('outlook_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}